<%= polaris_page(
  title: "Invoice",
  subtitle: "Statement period: May 3, 2019 to June 2, 2019",
  back_url: "/products",
  secondary_actions: [
    { content: "Download", url: "/download", icon_name: "ArrowDownIcon" },
  ]
) do %>
  <%= polaris_card(title: "Credit card") do %>
    <p>Credit card information</p>
  <% end %>
<% end %>

<div class="Polaris-LegacyCard">
  <div class="Polaris-IndexFilters__IndexFiltersWrapper" style="height: 45px;">
    <div>
    </div>
    <div class="Polaris-IndexFilters">
      <div>
        <div class="Polaris-IndexFilters-Container">
          <div class="Polaris-InlineStack" style="--pc-inline-stack-align:start;--pc-inline-stack-block-align:center;--pc-inline-stack-wrap:nowrap;--pc-inline-stack-gap-xs:var(--p-space-0);--pc-inline-stack-gap-md:var(--p-space-200);--pc-inline-stack-flex-direction-xs:row">
            <div class="Polaris-IndexFilters__TabsWrapper">
              <div style="transition:opacity 150ms var(--p-motion-ease);opacity:1">
                <div class="Polaris-Tabs__Outer">
                  <div class="Polaris-Box" style="--pc-box-padding-block-start-md:var(--p-space-200);--pc-box-padding-block-end-md:var(--p-space-200);--pc-box-padding-inline-start-md:var(--p-space-200);--pc-box-padding-inline-end-md:var(--p-space-200)">
                    <div class="Polaris-Tabs Polaris-Tabs__TabsMeasurer">
                      <li class="Polaris-Tabs__TabContainer" role="presentation">
                        <button id="All-0Measurer" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--active" role="tab" type="button" tabindex="-1" aria-selected="true">
                          <div class="Polaris-InlineStack" style="--pc-inline-stack-align:center;--pc-inline-stack-block-align:center;--pc-inline-stack-wrap:nowrap;--pc-inline-stack-gap-xs:var(--p-space-200);--pc-inline-stack-flex-direction-xs:row">
                            <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">All</span>
                          </div>
                        </button>
                      </li>
                      <li class="Polaris-Tabs__TabContainer" role="presentation">
                        <button id="Unpaid-1Measurer" class="Polaris-Tabs__Tab" role="tab" type="button" tabindex="-1" aria-selected="false">
                          <div class="Polaris-InlineStack" style="--pc-inline-stack-align:center;--pc-inline-stack-block-align:center;--pc-inline-stack-wrap:nowrap;--pc-inline-stack-gap-xs:var(--p-space-200);--pc-inline-stack-flex-direction-xs:row">
                            <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Unpaid</span>
                          </div>
                        </button>
                      </li>
                      <li class="Polaris-Tabs__TabContainer" role="presentation">
                        <button id="Open-2Measurer" class="Polaris-Tabs__Tab" role="tab" type="button" tabindex="-1" aria-selected="false">
                          <div class="Polaris-InlineStack" style="--pc-inline-stack-align:center;--pc-inline-stack-block-align:center;--pc-inline-stack-wrap:nowrap;--pc-inline-stack-gap-xs:var(--p-space-200);--pc-inline-stack-flex-direction-xs:row">
                            <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Open</span>
                          </div>
                        </button>
                      </li>
                      <li class="Polaris-Tabs__TabContainer" role="presentation">
                        <button id="Closed-3Measurer" class="Polaris-Tabs__Tab" role="tab" type="button" tabindex="-1" aria-selected="false">
                          <div class="Polaris-InlineStack" style="--pc-inline-stack-align:center;--pc-inline-stack-block-align:center;--pc-inline-stack-wrap:nowrap;--pc-inline-stack-gap-xs:var(--p-space-200);--pc-inline-stack-flex-direction-xs:row">
                            <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Closed</span>
                          </div>
                        </button>
                      </li>
                      <li class="Polaris-Tabs__TabContainer" role="presentation">
                        <button id="Local delivery-4Measurer" class="Polaris-Tabs__Tab" role="tab" type="button" tabindex="-1" aria-selected="false">
                          <div class="Polaris-InlineStack" style="--pc-inline-stack-align:center;--pc-inline-stack-block-align:center;--pc-inline-stack-wrap:nowrap;--pc-inline-stack-gap-xs:var(--p-space-200);--pc-inline-stack-flex-direction-xs:row">
                            <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Local delivery</span>
                          </div>
                        </button>
                      </li>
                      <li class="Polaris-Tabs__TabContainer" role="presentation">
                        <button id="Local pickup-5Measurer" class="Polaris-Tabs__Tab" role="tab" type="button" tabindex="-1" aria-selected="false">
                          <div class="Polaris-InlineStack" style="--pc-inline-stack-align:center;--pc-inline-stack-block-align:center;--pc-inline-stack-wrap:nowrap;--pc-inline-stack-gap-xs:var(--p-space-200);--pc-inline-stack-flex-direction-xs:row">
                            <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Local pickup</span>
                          </div>
                        </button>
                      </li>
                      <button class="Polaris-Tabs__DisclosureActivator" aria-label="More views" aria-disabled="false" type="button">
                        <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">More views</span>
                        <div class="">
                          <span class="Polaris-Icon Polaris-Icon--toneSubdued">
                            <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                              <path fill-rule="evenodd" d="M5.72 8.47a.75.75 0 0 1 1.06 0l3.47 3.47 3.47-3.47a.75.75 0 1 1 1.06 1.06l-4 4a.75.75 0 0 1-1.06 0l-4-4a.75.75 0 0 1 0-1.06Z">
                              </path>
                            </svg>
                          </span>
                        </div>
                      </button>
                    </div>
                    <div class="Polaris-Tabs__Wrapper Polaris-Tabs__WrapperWithNewButton">
                      <div class="Polaris-Tabs__ButtonWrapper">
                        <ul class="Polaris-Tabs" data-tabs-focus-catchment="true" role="tablist">
                          <li class="Polaris-Tabs__TabContainer" role="presentation">
                            <button id="All-0" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--active" role="tab" type="button" tabindex="0" aria-selected="true">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-align: center; --pc-inline-stack-block-align: center; --pc-inline-stack-wrap: nowrap; --pc-inline-stack-gap-xs: var(--p-space-200); --pc-inline-stack-flex-direction-xs: row;">
                                <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">All</span>
                              </div>
                            </button>
                          </li>
                          <li class="Polaris-Tabs__TabContainer" role="presentation">
                            <button id="Unpaid-1" class="Polaris-Tabs__Tab" role="tab" type="button" tabindex="-1" aria-selected="false">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-align: center; --pc-inline-stack-block-align: center; --pc-inline-stack-wrap: nowrap; --pc-inline-stack-gap-xs: var(--p-space-200); --pc-inline-stack-flex-direction-xs: row;">
                                <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Unpaid</span>
                              </div>
                            </button>
                          </li>
                          <li class="Polaris-Tabs__TabContainer" role="presentation">
                            <button id="Open-2" class="Polaris-Tabs__Tab" role="tab" type="button" tabindex="-1" aria-selected="false">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-align: center; --pc-inline-stack-block-align: center; --pc-inline-stack-wrap: nowrap; --pc-inline-stack-gap-xs: var(--p-space-200); --pc-inline-stack-flex-direction-xs: row;">
                                <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Open</span>
                              </div>
                            </button>
                          </li>
                          <li class="Polaris-Tabs__TabContainer" role="presentation">
                            <button id="Closed-3" class="Polaris-Tabs__Tab" role="tab" type="button" tabindex="-1" aria-selected="false">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-align: center; --pc-inline-stack-block-align: center; --pc-inline-stack-wrap: nowrap; --pc-inline-stack-gap-xs: var(--p-space-200); --pc-inline-stack-flex-direction-xs: row;">
                                <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Closed</span>
                              </div>
                            </button>
                          </li>
                          <li class="Polaris-Tabs__TabContainer" role="presentation">
                            <button id="Local delivery-4" class="Polaris-Tabs__Tab" role="tab" type="button" tabindex="-1" aria-selected="false">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-align: center; --pc-inline-stack-block-align: center; --pc-inline-stack-wrap: nowrap; --pc-inline-stack-gap-xs: var(--p-space-200); --pc-inline-stack-flex-direction-xs: row;">
                                <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Local delivery</span>
                              </div>
                            </button>
                          </li>
                          <li class="Polaris-Tabs__TabContainer" role="presentation">
                            <button id="Local pickup-5" class="Polaris-Tabs__Tab" role="tab" type="button" tabindex="-1" aria-selected="false">
                              <div class="Polaris-InlineStack" style="--pc-inline-stack-align: center; --pc-inline-stack-block-align: center; --pc-inline-stack-wrap: nowrap; --pc-inline-stack-gap-xs: var(--p-space-200); --pc-inline-stack-flex-direction-xs: row;">
                                <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Local pickup</span>
                              </div>
                            </button>
                          </li>
                          <li class="Polaris-Tabs__DisclosureTab" role="presentation">
                            <div>
                              <button class="Polaris-Tabs__DisclosureActivator" aria-label="More views" aria-disabled="false" type="button" tabindex="0" aria-controls=":r2:" aria-owns=":r2:" aria-expanded="false" data-state="closed">
                                <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">More views</span>
                                <div class="">
                                  <span class="Polaris-Icon Polaris-Icon--toneSubdued">
                                    <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                      <path fill-rule="evenodd" d="M5.72 8.47a.75.75 0 0 1 1.06 0l3.47 3.47 3.47-3.47a.75.75 0 1 1 1.06 1.06l-4 4a.75.75 0 0 1-1.06 0l-4-4a.75.75 0 0 1 0-1.06Z">
                                      </path>
                                    </svg>
                                  </span>
                                </div>
                              </button>
                            </div>
                          </li>
                        </ul>
                        <div class="Polaris-Tabs__NewTab">
                          <div class="Polaris-Box">
                            <div>
                              <span class="">
                                <button id="create-new-view" class="Polaris-Tabs__Tab Polaris-Tabs__Tab--iconOnly" aria-disabled="false" type="button" tabindex="0" aria-describedby=":r4:" data-polaris-tooltip-activator="true">
                                  <div class="Polaris-InlineStack" style="--pc-inline-stack-align: center; --pc-inline-stack-block-align: center; --pc-inline-stack-wrap: nowrap; --pc-inline-stack-gap-xs: var(--p-space-200); --pc-inline-stack-flex-direction-xs: row;">
                                    <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">
                                      <span class="Polaris-Icon">
                                        <span class="Polaris-Text--root Polaris-Text--visuallyHidden">Create new view</span>
                                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                          <path d="M10.75 5.75c0-.414-.336-.75-.75-.75s-.75.336-.75.75v3.5h-3.5c-.414 0-.75.336-.75.75s.336.75.75.75h3.5v3.5c0 .414.336.75.75.75s.75-.336.75-.75v-3.5h3.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-3.5v-3.5Z">
                                          </path>
                                        </svg>
                                      </span>
                                    </span>
                                  </div>
                                </button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="Polaris-IndexFilters__ActionWrap">
              <span class="">
                <div style="transition:opacity 150ms var(--p-motion-ease);opacity:1">
                  <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantSecondary Polaris-Button--sizeSlim Polaris-Button--textAlignCenter Polaris-Button--iconOnly" aria-label="Search and filter results" type="button" tabindex="0" aria-describedby=":Rd6cq6:" data-polaris-tooltip-activator="true">
                    <span class="Polaris-Button__Icon">
                      <div class="Polaris-InlineStack" style="--pc-inline-stack-wrap:wrap;--pc-inline-stack-gap-xs:var(--p-space-0);--pc-inline-stack-flex-direction-xs:row">
                        <span class="Polaris-Icon Polaris-Icon--toneBase">
                          <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                            <path fill-rule="evenodd" d="M12.323 13.383a5.5 5.5 0 1 1 1.06-1.06l2.897 2.897a.75.75 0 1 1-1.06 1.06l-2.897-2.897Zm.677-4.383a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z">
                            </path>
                          </svg>
                        </span>
                        <span class="Polaris-Icon Polaris-Icon--toneBase">
                          <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                            <path d="M3 6a.75.75 0 0 1 .75-.75h12.5a.75.75 0 0 1 0 1.5h-12.5a.75.75 0 0 1-.75-.75Z">
                            </path>
                            <path d="M6.75 14a.75.75 0 0 1 .75-.75h5a.75.75 0 0 1 0 1.5h-5a.75.75 0 0 1-.75-.75Z">
                            </path>
                            <path d="M5.5 9.25a.75.75 0 0 0 0 1.5h9a.75.75 0 0 0 0-1.5h-9Z">
                            </path>
                          </svg>
                        </span>
                      </div>
                    </span>
                  </button>
                </div>
              </span>
              <div>
                <span class="">
                  <button class="Polaris-Button Polaris-Button--pressable Polaris-Button--variantSecondary Polaris-Button--sizeSlim Polaris-Button--textAlignCenter Polaris-Button--iconOnly" aria-label="Sort the results" type="button" tabindex="0" aria-describedby=":R3t6cq6:" data-polaris-tooltip-activator="true" aria-controls=":Rt6cq6:" aria-owns=":Rt6cq6:" aria-expanded="false" data-state="closed">
                    <span class="Polaris-Button__Icon">
                      <span class="Polaris-Icon">
                        <svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                          <path d="M7.75 6.06v7.69a.75.75 0 0 1-1.5 0v-7.69l-1.72 1.72a.75.75 0 0 1-1.06-1.06l3-3a.75.75 0 0 1 1.06 0l3 3a.75.75 0 1 1-1.06 1.06l-1.72-1.72Z">
                          </path>
                          <path d="M13.75 6.25a.75.75 0 0 0-1.5 0v7.69l-1.72-1.72a.75.75 0 1 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l3-3a.75.75 0 1 0-1.06-1.06l-1.72 1.72v-7.69Z">
                          </path>
                        </svg>
                      </span>
                    </span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="Polaris-IndexTable">
    <div class="Polaris-IndexTable__IndexTableWrapper">
      
      <div class="Polaris-IndexTable__StickyTable" role="presentation">
        <div>
          <div>
          </div>
          <div>
            <div class="Polaris-IndexTable__StickyTableHeader">
              <div class="Polaris-IndexTable__LoadingPanel">
                <div class="Polaris-IndexTable__LoadingPanelRow">
                  <span class="Polaris-Spinner Polaris-Spinner--sizeSmall">
                    <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.229 1.173a9.25 9.25 0 1011.655 11.412 1.25 1.25 0 10-2.4-.698 6.75 6.75 0 11-8.506-8.329 1.25 1.25 0 10-.75-2.385z">
                      </path>
                    </svg>
                  </span>
                  <span role="status">
                    <span class="Polaris-Text--root Polaris-Text--visuallyHidden">
                    </span>
                  </span>
                  <span class="Polaris-IndexTable__LoadingPanelText">Loading orders…</span>
                </div>
              </div>
              <div class="Polaris-IndexTable__StickyTableHeadings">
                <div class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--first" data-index-table-sticky-heading="true" style="min-width: 38px;">
                  <div class="Polaris-IndexTable__ColumnHeaderCheckboxWrapper">
                    <label class="Polaris-Choice Polaris-Choice--labelHidden Polaris-Checkbox__ChoiceLabel" for=":R2cqakq6:">
                      <span class="Polaris-Choice__Control">
                        <span class="Polaris-Checkbox">
                          <input id=":R2cqakq6:" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="">
                          <span class="Polaris-Checkbox__Backdrop">
                          </span>
                          <span class="Polaris-Checkbox__Icon Polaris-Checkbox--animated">
                            <svg viewBox="0 0 16 16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                              <path class="" d="M1.5,5.5L3.44655,8.22517C3.72862,8.62007,4.30578,8.64717,4.62362,8.28044L10.5,1.5" transform="translate(2 2.980376)" opacity="0" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" pathLength="1">
                              </path>
                            </svg>
                          </span>
                        </span>
                      </span>
                      <span class="Polaris-Choice__Label">
                        <span class="Polaris-Text--root Polaris-Text--bodyMd">Select all orders</span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--second" data-index-table-sticky-heading="true" style="left: 38px; min-width: 70px;">
                  <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                    <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Order</span>
                  </div>
                </div>
                <div class="Polaris-IndexTable__TableHeading" data-index-table-sticky-heading="true" style="min-width: 160px;">
                  <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                    <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Date</span>
                  </div>
                </div>
                <div class="Polaris-IndexTable__TableHeading" data-index-table-sticky-heading="true" style="min-width: 161px;">
                  <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                    <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Customer</span>
                  </div>
                </div>
                <div class="Polaris-IndexTable__TableHeading Polaris-IndexTable--tableHeadingAlignEnd" data-index-table-sticky-heading="true" style="min-width: 90px;">
                  <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                    <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Total</span>
                  </div>
                </div>
                <div class="Polaris-IndexTable__TableHeading" data-index-table-sticky-heading="true" style="min-width: 155px;">
                  <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                    <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Payment status</span>
                  </div>
                </div>
                <div class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--last" data-index-table-sticky-heading="true" style="min-width: 159px;">
                  <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                    <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Fulfillment status</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="Polaris-IndexTable__BulkActionsWrapper">
              <div>
                <div class="Polaris-InlineStack" style="--pc-inline-stack-block-align:center;--pc-inline-stack-wrap:wrap;--pc-inline-stack-gap-xs:var(--p-space-400);--pc-inline-stack-flex-direction-xs:row">
                  <div class="Polaris-BulkActions__BulkActionsSelectAllWrapper">
                    <div class="Polaris-CheckableButton">
                      <div class="Polaris-CheckableButton__Checkbox">
                        <label class="Polaris-Choice Polaris-Choice--labelHidden Polaris-Checkbox__ChoiceLabel" for=":R1baakq6:">
                          <span class="Polaris-Choice__Control">
                            <span class="Polaris-Checkbox">
                              <input id=":R1baakq6:" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="">
                              <span class="Polaris-Checkbox__Backdrop">
                              </span>
                              <span class="Polaris-Checkbox__Icon Polaris-Checkbox--animated">
                                <svg viewBox="0 0 16 16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                                  <path class="" d="M1.5,5.5L3.44655,8.22517C3.72862,8.62007,4.30578,8.64717,4.62362,8.28044L10.5,1.5" transform="translate(2 2.980376)" opacity="0" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" pathLength="1">
                                  </path>
                                </svg>
                              </span>
                            </span>
                          </span>
                          <span class="Polaris-Choice__Label">
                            <span class="Polaris-Text--root Polaris-Text--bodyMd">Select all 3 orders</span>
                          </span>
                        </label>
                      </div>
                      <span class="Polaris-CheckableButton__Label">
                        <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">0 selected</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Polaris-IndexTable-ScrollContainer">
        <table class="Polaris-IndexTable__Table Polaris-IndexTable__Table--sticky">
          <thead>
            <tr>
              <th class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--first" data-index-table-heading="true">
                <div class="Polaris-IndexTable__ColumnHeaderCheckboxWrapper">
                  <label class="Polaris-Choice Polaris-Choice--labelHidden Polaris-Checkbox__ChoiceLabel" for=":R15ikq6:">
                    <span class="Polaris-Choice__Control">
                      <span class="Polaris-Checkbox">
                        <input id=":R15ikq6:" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="">
                        <span class="Polaris-Checkbox__Backdrop">
                        </span>
                        <span class="Polaris-Checkbox__Icon Polaris-Checkbox--animated">
                          <svg viewBox="0 0 16 16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                            <path class="" d="M1.5,5.5L3.44655,8.22517C3.72862,8.62007,4.30578,8.64717,4.62362,8.28044L10.5,1.5" transform="translate(2 2.980376)" opacity="0" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" pathLength="1">
                            </path>
                          </svg>
                        </span>
                      </span>
                    </span>
                    <span class="Polaris-Choice__Label">
                      <span class="Polaris-Text--root Polaris-Text--bodyMd">Select all orders</span>
                    </span>
                  </label>
                </div>
              </th>
              <th class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--second" data-index-table-heading="true" style="left: 38px;">
                <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                  <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Order</span>
                </div>
              </th>
              <th class="Polaris-IndexTable__TableHeading" data-index-table-heading="true">
                <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                  <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Date</span>
                </div>
              </th>
              <th class="Polaris-IndexTable__TableHeading" data-index-table-heading="true">
                <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                  <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Customer</span>
                </div>
              </th>
              <th class="Polaris-IndexTable__TableHeading Polaris-IndexTable--tableHeadingAlignEnd" data-index-table-heading="true">
                <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                  <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Total</span>
                </div>
              </th>
              <th class="Polaris-IndexTable__TableHeading" data-index-table-heading="true">
                <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                  <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Payment status</span>
                </div>
              </th>
              <th class="Polaris-IndexTable__TableHeading Polaris-IndexTable__TableHeading--last" data-index-table-heading="true">
                <div style="--pc-index-table-heading-extra-padding-right:0" class="">
                  <span class="Polaris-Text--root Polaris-Text--bodySm Polaris-Text--medium">Fulfillment status</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr id="1020" class="Polaris-IndexTable__TableRow">
              <td class="Polaris-IndexTable__TableCell Polaris-IndexTable__TableCell--first">
                <div class="Polaris-IndexTable-Checkbox__Wrapper">
                  <label class="Polaris-Choice Polaris-Choice--labelHidden Polaris-Checkbox__ChoiceLabel" for="Select-1020">
                    <span class="Polaris-Choice__Control">
                      <span class="Polaris-Checkbox">
                        <input id="Select-1020" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="">
                        <span class="Polaris-Checkbox__Backdrop">
                        </span>
                        <span class="Polaris-Checkbox__Icon Polaris-Checkbox--animated">
                          <svg viewBox="0 0 16 16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                            <path class="" d="M1.5,5.5L3.44655,8.22517C3.72862,8.62007,4.30578,8.64717,4.62362,8.28044L10.5,1.5" transform="translate(2 2.980376)" opacity="0" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" pathLength="1">
                            </path>
                          </svg>
                        </span>
                      </span>
                    </span>
                    <span class="Polaris-Choice__Label">
                      <span class="Polaris-Text--root Polaris-Text--bodyMd">Select order</span>
                    </span>
                  </label>
                </div>
              </td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--bold">
                  <span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--semibold">#1020</span>
                </span>
              </td>
              <td class="Polaris-IndexTable__TableCell">Jul 20 at 4:34pm</td>
              <td class="Polaris-IndexTable__TableCell">Jaydon Stanton</td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Text--root Polaris-Text--block Polaris-Text--end Polaris-Text--numeric">$969.44</span>
              </td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Badge">
                  <span class="Polaris-Badge__Icon">
                    <span class="Polaris-Icon">
                      <span class="Polaris-Text--root Polaris-Text--visuallyHidden">Complete</span>
                      <svg viewBox="0 0 20 20">
                        <path d="M6 10c0-.93 0-1.395.102-1.776a3 3 0 0 1 2.121-2.122C8.605 6 9.07 6 10 6c.93 0 1.395 0 1.776.102a3 3 0 0 1 2.122 2.122C14 8.605 14 9.07 14 10s0 1.395-.102 1.777a3 3 0 0 1-2.122 2.12C11.395 14 10.93 14 10 14s-1.395 0-1.777-.102a3 3 0 0 1-2.12-2.121C6 11.395 6 10.93 6 10Z">
                        </path>
                      </svg>
                    </span>
                  </span>
                  <span class="Polaris-Text--root Polaris-Text--bodySm">Paid</span>
                </span>
              </td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Badge">
                  <span class="Polaris-Badge__Icon">
                    <span class="Polaris-Icon">
                      <span class="Polaris-Text--root Polaris-Text--visuallyHidden">Incomplete</span>
                      <svg viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M8.547 12.69c.183.05.443.06 1.453.06s1.27-.01 1.453-.06a1.75 1.75 0 0 0 1.237-1.237c.05-.182.06-.443.06-1.453s-.01-1.27-.06-1.453a1.75 1.75 0 0 0-1.237-1.237c-.182-.05-.443-.06-1.453-.06s-1.27.01-1.453.06A1.75 1.75 0 0 0 7.31 8.547c-.05.183-.06.443-.06 1.453s.01 1.27.06 1.453a1.75 1.75 0 0 0 1.237 1.237ZM6.102 8.224C6 8.605 6 9.07 6 10s0 1.395.102 1.777a3 3 0 0 0 2.122 2.12C8.605 14 9.07 14 10 14s1.395 0 1.777-.102a3 3 0 0 0 2.12-2.121C14 11.395 14 10.93 14 10c0-.93 0-1.395-.102-1.776a3 3 0 0 0-2.121-2.122C11.395 6 10.93 6 10 6c-.93 0-1.395 0-1.776.102a3 3 0 0 0-2.122 2.122Z">
                        </path>
                      </svg>
                    </span>
                  </span>
                  <span class="Polaris-Text--root Polaris-Text--bodySm">Unfulfilled</span>
                </span>
              </td>
            </tr>
            <tr id="1019" class="Polaris-IndexTable__TableRow">
              <td class="Polaris-IndexTable__TableCell Polaris-IndexTable__TableCell--first">
                <div class="Polaris-IndexTable-Checkbox__Wrapper">
                  <label class="Polaris-Choice Polaris-Choice--labelHidden Polaris-Checkbox__ChoiceLabel" for="Select-1019">
                    <span class="Polaris-Choice__Control">
                      <span class="Polaris-Checkbox">
                        <input id="Select-1019" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="">
                        <span class="Polaris-Checkbox__Backdrop">
                        </span>
                        <span class="Polaris-Checkbox__Icon Polaris-Checkbox--animated">
                          <svg viewBox="0 0 16 16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                            <path class="" d="M1.5,5.5L3.44655,8.22517C3.72862,8.62007,4.30578,8.64717,4.62362,8.28044L10.5,1.5" transform="translate(2 2.980376)" opacity="0" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" pathLength="1">
                            </path>
                          </svg>
                        </span>
                      </span>
                    </span>
                    <span class="Polaris-Choice__Label">
                      <span class="Polaris-Text--root Polaris-Text--bodyMd">Select order</span>
                    </span>
                  </label>
                </div>
              </td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--bold">
                  <span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--semibold">#1019</span>
                </span>
              </td>
              <td class="Polaris-IndexTable__TableCell">Jul 20 at 3:46pm</td>
              <td class="Polaris-IndexTable__TableCell">Ruben Westerfelt</td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Text--root Polaris-Text--block Polaris-Text--end Polaris-Text--numeric">$701.19</span>
              </td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Badge">
                  <span class="Polaris-Badge__Icon">
                    <span class="Polaris-Icon">
                      <span class="Polaris-Text--root Polaris-Text--visuallyHidden">Partially complete</span>
                      <svg viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="m8.888 6.014-.017-.018-.02.02c-.253.013-.45.038-.628.086a3 3 0 0 0-2.12 2.122C6 8.605 6 9.07 6 10s0 1.395.102 1.777a3 3 0 0 0 2.121 2.12C8.605 14 9.07 14 10 14c.93 0 1.395 0 1.776-.102a3 3 0 0 0 2.122-2.121C14 11.395 14 10.93 14 10c0-.93 0-1.395-.102-1.776a3 3 0 0 0-2.122-2.122C11.395 6 10.93 6 10 6c-.475 0-.829 0-1.112.014ZM8.446 7.34a1.75 1.75 0 0 0-1.041.94l4.314 4.315c.443-.2.786-.576.941-1.042L8.446 7.34Zm4.304 2.536L10.124 7.25c.908.001 1.154.013 1.329.06a1.75 1.75 0 0 1 1.237 1.237c.047.175.059.42.06 1.329ZM8.547 12.69c.182.05.442.06 1.453.06h.106L7.25 9.894V10c0 1.01.01 1.27.06 1.453a1.75 1.75 0 0 0 1.237 1.237Z">
                        </path>
                      </svg>
                    </span>
                  </span>
                  <span class="Polaris-Text--root Polaris-Text--bodySm">Partially paid</span>
                </span>
              </td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Badge">
                  <span class="Polaris-Badge__Icon">
                    <span class="Polaris-Icon">
                      <span class="Polaris-Text--root Polaris-Text--visuallyHidden">Incomplete</span>
                      <svg viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M8.547 12.69c.183.05.443.06 1.453.06s1.27-.01 1.453-.06a1.75 1.75 0 0 0 1.237-1.237c.05-.182.06-.443.06-1.453s-.01-1.27-.06-1.453a1.75 1.75 0 0 0-1.237-1.237c-.182-.05-.443-.06-1.453-.06s-1.27.01-1.453.06A1.75 1.75 0 0 0 7.31 8.547c-.05.183-.06.443-.06 1.453s.01 1.27.06 1.453a1.75 1.75 0 0 0 1.237 1.237ZM6.102 8.224C6 8.605 6 9.07 6 10s0 1.395.102 1.777a3 3 0 0 0 2.122 2.12C8.605 14 9.07 14 10 14s1.395 0 1.777-.102a3 3 0 0 0 2.12-2.121C14 11.395 14 10.93 14 10c0-.93 0-1.395-.102-1.776a3 3 0 0 0-2.121-2.122C11.395 6 10.93 6 10 6c-.93 0-1.395 0-1.776.102a3 3 0 0 0-2.122 2.122Z">
                        </path>
                      </svg>
                    </span>
                  </span>
                  <span class="Polaris-Text--root Polaris-Text--bodySm">Unfulfilled</span>
                </span>
              </td>
            </tr>
            <tr id="1018" class="Polaris-IndexTable__TableRow">
              <td class="Polaris-IndexTable__TableCell Polaris-IndexTable__TableCell--first">
                <div class="Polaris-IndexTable-Checkbox__Wrapper">
                  <label class="Polaris-Choice Polaris-Choice--labelHidden Polaris-Checkbox__ChoiceLabel" for="Select-1018">
                    <span class="Polaris-Choice__Control">
                      <span class="Polaris-Checkbox">
                        <input id="Select-1018" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value="">
                        <span class="Polaris-Checkbox__Backdrop">
                        </span>
                        <span class="Polaris-Checkbox__Icon Polaris-Checkbox--animated">
                          <svg viewBox="0 0 16 16" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
                            <path class="" d="M1.5,5.5L3.44655,8.22517C3.72862,8.62007,4.30578,8.64717,4.62362,8.28044L10.5,1.5" transform="translate(2 2.980376)" opacity="0" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" pathLength="1">
                            </path>
                          </svg>
                        </span>
                      </span>
                    </span>
                    <span class="Polaris-Choice__Label">
                      <span class="Polaris-Text--root Polaris-Text--bodyMd">Select order</span>
                    </span>
                  </label>
                </div>
              </td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--bold">
                  <span class="Polaris-Text--root Polaris-Text--bodyMd Polaris-Text--semibold">#1018</span>
                </span>
              </td>
              <td class="Polaris-IndexTable__TableCell">Jul 20 at 3.44pm</td>
              <td class="Polaris-IndexTable__TableCell">Leo Carder</td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Text--root Polaris-Text--block Polaris-Text--end Polaris-Text--numeric">$798.24</span>
              </td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Badge">
                  <span class="Polaris-Badge__Icon">
                    <span class="Polaris-Icon">
                      <span class="Polaris-Text--root Polaris-Text--visuallyHidden">Complete</span>
                      <svg viewBox="0 0 20 20">
                        <path d="M6 10c0-.93 0-1.395.102-1.776a3 3 0 0 1 2.121-2.122C8.605 6 9.07 6 10 6c.93 0 1.395 0 1.776.102a3 3 0 0 1 2.122 2.122C14 8.605 14 9.07 14 10s0 1.395-.102 1.777a3 3 0 0 1-2.122 2.12C11.395 14 10.93 14 10 14s-1.395 0-1.777-.102a3 3 0 0 1-2.12-2.121C6 11.395 6 10.93 6 10Z">
                        </path>
                      </svg>
                    </span>
                  </span>
                  <span class="Polaris-Text--root Polaris-Text--bodySm">Paid</span>
                </span>
              </td>
              <td class="Polaris-IndexTable__TableCell">
                <span class="Polaris-Badge">
                  <span class="Polaris-Badge__Icon">
                    <span class="Polaris-Icon">
                      <span class="Polaris-Text--root Polaris-Text--visuallyHidden">Incomplete</span>
                      <svg viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M8.547 12.69c.183.05.443.06 1.453.06s1.27-.01 1.453-.06a1.75 1.75 0 0 0 1.237-1.237c.05-.182.06-.443.06-1.453s-.01-1.27-.06-1.453a1.75 1.75 0 0 0-1.237-1.237c-.182-.05-.443-.06-1.453-.06s-1.27.01-1.453.06A1.75 1.75 0 0 0 7.31 8.547c-.05.183-.06.443-.06 1.453s.01 1.27.06 1.453a1.75 1.75 0 0 0 1.237 1.237ZM6.102 8.224C6 8.605 6 9.07 6 10s0 1.395.102 1.777a3 3 0 0 0 2.122 2.12C8.605 14 9.07 14 10 14s1.395 0 1.777-.102a3 3 0 0 0 2.12-2.121C14 11.395 14 10.93 14 10c0-.93 0-1.395-.102-1.776a3 3 0 0 0-2.121-2.122C11.395 6 10.93 6 10 6c-.93 0-1.395 0-1.776.102a3 3 0 0 0-2.122 2.122Z">
                        </path>
                      </svg>
                    </span>
                  </span>
                  <span class="Polaris-Text--root Polaris-Text--bodySm">Unfulfilled</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="Polaris-IndexTable__ScrollBarContainer Polaris-IndexTable--scrollBarContainerHidden">
        <div class="Polaris-IndexTable__ScrollBar" style="--pc-index-table-scroll-bar-content-width: 816px;">
          <div class="Polaris-IndexTable__ScrollBarContent">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-portal-id="modal-:r5:" class="p-theme-light Polaris-ThemeProvider--themeContainer">
  <div>
  </div>
</div>
<div data-portal-id="tooltip-:r0:" class="p-theme-light Polaris-ThemeProvider--themeContainer">
</div>
<div data-portal-id="tooltip-:r1:" class="p-theme-light Polaris-ThemeProvider--themeContainer">
</div>
<div data-portal-id="popover-:r6:" class="p-theme-light Polaris-ThemeProvider--themeContainer">
</div>
<div data-portal-id="tooltip-:r7:" class="p-theme-light Polaris-ThemeProvider--themeContainer">
</div>